@import "../../../assets/theme/variables";
@import "../../../assets/theme/main-mixins";

header {
  padding: 5px;
  background: $hi-white;
  font-weight: bold;
  border-bottom: 2px solid $hi-yellow;
  .header-container {
    display: flex;
    justify-content: space-between;

    .header-item {
      flex-basis: auto;
      padding: 3px;
      color: $hi-black;
      cursor: pointer;

      &:hover {
        color: $hi-yellow;
      }
    }
  }
}

@include main-tablet() {
  header {
    padding: 15px;

    .header-container {
      padding: 5px;

      .header-item {
        flex-basis: 100px;
        padding: 5px;
      }
    }
  }
}
