@import "../../../assets/theme/variables";
@import "../../../assets/theme/main-mixins";

footer {
  padding: 10px;
  background: $hi-white;
  border-top: 2px solid $hi-yellow;
  .footer-container {
    display: flex;
    justify-content: flex-start;

    .footer-item {
      flex-basis: auto;
      padding: 3px;
      display: flex;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }
  }
}

@include main-tablet() {
  footer {
    padding: 15px;

    .footer-container {
      padding: 5px;

      .footer-item {
        flex-basis: 100px;
        padding: 5px;
      }
    }
  }
}
