<section>
  <div class="add-challenge">
    <p (click)="addChallenge()"><span class="material-icons">
add_circle
</span> Add Challenge</p>
  </div>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>
          Challenge
        </th>
        <th class="description">
          Description
        </th>
        <th>Tags</th>
        <th>
          <div class="sorting-container">
            <p>Creation Date</p>
            <div class="icon-container">
              <span class="material-icons" (click)="sortDateChallenges('desc')">expand_less</span>
              <span class="material-icons" (click)="sortDateChallenges('asc')">expand_more</span>
            </div>
          </div>

        </th>
        <th>
          <div class="sorting-container">
            <p>Vote Count</p>
            <div class="icon-container">
              <span class="material-icons" (click)="sortCountChallenges('desc')">expand_less</span>
              <span class="material-icons" (click)="sortCountChallenges('asc')">expand_more</span>
            </div>
          </div>
        </th>
        <th colspan="2" class="vote-header">
          Vote
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of codeChallenges; let index=i">
        <td>
          {{challenge?.title}}
        </td>
        <td class="description">
          {{challenge?.description}}
        </td>
        <td>
          {{challenge?.tag}}
        </td>
        <td>
          {{challenge?.date | date:'mediumDate' }}
        </td>
        <td>
          {{challenge?.count}}
        </td>
        <td class="pointer vote">
          <span class="material-icons" [class.upvote]="challenge?.upvoted" (click)="vote('upvote',challenge)">
thumb_up
</span>
        </td>
        <td class="pointer vote">
          <span class="material-icons" [class.downvote]="challenge?.downvoted" (click)="vote('downvote',challenge)">thumb_down</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</section>
