<section>
  <div class="add-challenge">
    <p (click)="addChallenge()"> Add Challenge</p>
  </div>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>
          Challenge
        </th>
        <th class="description">
          Description
        </th>
        <th>Tags</th>
        <th>
          Creation Date
          <div (click)="sortDateChallenges('asc')"> asc</div>
          <div (click)="sortDateChallenges('desc')">desc</div>
        </th>
        <th>
          Vote Count
          <div (click)="sortCountChallenges('asc')"> asc</div>
          <div (click)="sortCountChallenges('desc')">desc</div>
        </th>
        <th class="vote-header">
          Vote
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of codeChallenges; let index=i">
        <td>
          {{challenge?.title}}
        </td>
        <td class="description">
          {{challenge?.description}}
        </td>
        <td>
          {{challenge?.tag}}
        </td>
        <td>
          {{challenge?.date | date:'mediumDate' }}
        </td>
        <td>
          {{challenge?.count}}
        </td>
        <td class="pointer vote" (click)="vote('upvote',challenge)">
          +
        </td>
        <td class="pointer vote" (click)="vote('downvote',challenge)">
          -
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</section>
